
/*Common rules*/

html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


/*header section*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  height: 69px;
  text-decoration: underline;
  margin-right: 10px;
}

nav span {
  padding: 10px;
}

a {
  color: seashell;
}

/*content section*/

.content {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 70px auto 0 auto;
}

/*mission part*/

#mission {
  background-image: url(./css_images/img-mission-background.jpg);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission .text {
  background-color: black;
}

/*tea part*/

#tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 50px auto;
}

.food {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Spiced.Rum.Tea {
  margin: 0 50px;
}

.Myrtle.Ave.Tea,
.Bedford.Bizarre.Tea {
  margin: 0 25px;
}

.food h4 {
  margin-top: 10px;
}

/*locations part*/

#locations {
  height: 500px;
  background-image: url(./css_images/img-locations-background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#locations h2 {
  margin-bottom: 15px;

}

.adresses {
  display: flex;
  justify-content: center;
}

.adress {
  background-color: black;
  opacity: 1;
  width: 300px;
}

.adress.East.Bayside {
  margin: 0 40px;
}

/*footer section*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contact {
  height: 200px;
}

.contact h2 {
  margin-top: 10px
}

.copyright {
  align-self: flex-start;
  margin-left: 20px;
}
